<app-modal-geral
    *ngIf="mostrarModal"
    [mensagem]="mensagemModal"
    textoBotao="Fechar"
    [corBotao]="corBotao"
    (fecharModal)="handleFecharModal()">
</app-modal-geral>
<div class="pagina-redefinir-senha">
    <div class="container-redefinir-senha">
        <div class="header">
            <app-logo-parceiro></app-logo-parceiro>
            <app-botao-tema></app-botao-tema>
        </div>
        <div class="titulo">Redefinir senha</div>
        <app-input
            type="password"
            class="input-nova-senha"
            placeholder="nova senha"
            (valorChange)="onValorInputChange($event, 'inputNovaSenha')">
        </app-input>
        <app-input
            type="password"
            class="input-confirmar-nova-senha"
            placeholder="confimar nova senha"
            (valorChange)="onValorInputChange($event, 'inputConfirmarNovaSenha')">
        </app-input>
        <app-input
            class="codigo-veirificacao"
            placeholder="codigo de verificação"
            (valorChange)="onValorInputChange($event, 'inputCodigoVerificacao')">
        </app-input>
        <app-botao
            width="100%"
            texto="Redefinir senha"
            (click)="onRedefinirSenha()"
            class="botao-redefinir-senha">
        </app-botao>
        <div class="footer">
            <a href="https://site.parceirosolucoes.com.br" target="_blank">
                <app-logo-parceiro class="logo-parceiro"></app-logo-parceiro>
            </a>
        </div>
    </div>
</div>