
.page{
    height: 100vh;   
    /* background: var(--background); */
    display: flex;
    justify-content:  center;
    align-items: center;    

}

.container{
    padding: 0 20px 0 20px;
    width: 23%;
    height: 75%;
    flex-shrink: 0;
    border-radius: 2px;
    background:var(--cor-primaria);
    box-shadow: 2px 9px 12px 4px rgba(12, 12, 12, 0.25); 
    display: grid;                 
    grid-template-rows: auto 13% 13% 13% 13% auto auto;   
    grid-template-columns: 1fr;
    grid-template-areas:    "header"                            
                            "name"
                            "email"
                            "password"
                            "confirm_password"
                            "botao"
                            "footer";
}

.header{
    position: relative;
    grid-area: header;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    
    
}




h2{    
    font-family: var(--font-semiBold);
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 2.142rem;   
    color: var(--cor-secundaria);
    
}


.botao_change_mode{
    position: absolute;    
    margin-top: 6px;
    margin-left: 280px;
}

.inputs{    
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;   
    color: var(--cor-secundaria);
    width: 100%;

}

.name{
    grid-area:name ;
    background: --background;
   
}
.email{
    grid-area: email;
    background: --background;
}

.password{
    grid-area: password;
    background: --background;
}

.confirm_password{
    grid-area: confirm_password;
    background: --background;
}



.footer{
    
    grid-area: footer;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 0.8571rem;
}

.botao{
    grid-area: botao;
    display: flex;
    align-self: self-end;
    
}


a {
    text-decoration: none;
    color: var(--cor-secundaria);   
}
a:focus {
    color: var(--cor-secundaria);
}
a:hover{
    color: var(--cor-secundaria);
}
a:active{
    color: var(--cor-secundaria);
}
