<!-- <app-modal-geral *ngIf="mostrarModal" [mensagem]="mensagemModal" (fecharModal)="handleFecharModal()"></app-modal-geral> -->
<div class="page">
    <div class="container"> 
        
        <div class="header">
            <app-botao-tema class="botao_change_mode"></app-botao-tema>
            <h2>Registrar</h2>
        </div>
        
        <app-input placeholder="nome" class="name" (valorChange)="onNomeValueChanged($event)"></app-input>      
        <app-input width="100%" placeholder="email" class="email" (valorChange)="onEmailValueChanged($event)" ></app-input>
        <app-input type="password" placeholder="senha" class="password" (valorChange)="onSenhaValueChanged($event)"></app-input>
        <app-input type="password" placeholder="confirmar senha" class="confirm_password" (valorChange)="onConfirmarSenhaValueChanged($event)"></app-input>
        <app-botao class="botao" texto="Registrar" width="100%"  ></app-botao>
       
        <div class="footer">              
            <a href="https://site.parceirosolucoes.com.br" target="_blank">Feito por Parceiro Soluções</a>        </div>
           
    </div>
        
</div>
