.carregando {
    z-index: 1002;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

::ng-deep .mat-mdc-progress-spinner circle {
    stroke: rgb(255, 255, 255);
}
