.container-input {
    display: flex;
}

.componente-input {
    display: flex;
    padding: 9px;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--cor-3);
    box-shadow: 0px 0px 8px 0px rgba(25, 40, 71, 0.08);
    color: var(--cor-2);
}

.componente-input:focus {
    outline: none;
    box-shadow: var(--box-shadow); 

}

input[type="date"] {
    cursor: pointer;
}
