<app-modal-geral
    *ngIf="mostrarModal"
    [mensagem]="mensagemModal"
    (fecharModal)="handleFecharModal()">
</app-modal-geral>
<div class="pagina-home">
    <div class="container-home">
        <div class="header">
            <app-logo-parceiro></app-logo-parceiro>
            <div class="botoes-header">
                <app-botao-tema></app-botao-tema>
                <app-botao-sair (click)="onLogout()"></app-botao-sair>
            </div>
        </div>
        <div class="titulo">Home</div>
       
        <app-botao
            width="100%"
            texto="Antecipar parcelas"
            class="botao-antecipr-parcelas"
            (click)="navegarRotaAnteciparParcelas()">
        </app-botao>
       
        <div class="footer">
            <a href="https://site.parceirosolucoes.com.br" target="_blank">
                <app-logo-parceiro></app-logo-parceiro>
            </a>
        </div>
    </div>
</div>