<app-modal-geral
    *ngIf="mensagensService.mostrarModal$ | async"
    (fecharModal)="mensagensService.fecharModal()"
    [mensagem]="mensagensService.mensagemModal$ | async">
</app-modal-geral>
<div class="pagina-home">
    <div class="container-home">
        <div class="header">
            <div class="botoes-header">
                <app-botao-tema></app-botao-tema>
                <app-botao-sair (click)="onLogout()"></app-botao-sair>
            </div>
        </div>
        <div class="titulo">Home</div>
        
        <app-botao
            width="100%"
            texto="Antecipar parcelas"
            class="botao-antecipr-parcelas"
            (click)="navegarRotaAnteciparParcelas()">
        </app-botao>
        
        <div class="footer">
        </div>
    </div>
</div>