<div
    class="container-input-dropdown"
    tabindex="0"
    #containerRef
    #inputDropdownDiv
    [style.width]="width"
    [style.height]="height">
    <div class="container-relativo">
        <input
            type="text"
            class="input-dropdown"
            [placeholder]="placeholder"
            [(ngModel)]="textoPesquisado"
            (ngModelChange)="filtrarItens()"
            (blur)="onInputBlur(inputDropdownDiv)"
            (focus)="onInputFocus(inputDropdownDiv)"
            [style.border-bottom-left-radius]="borderRadius">
        <button
            class="botao"
            (click)="onClick()"
            [style.border-bottom-right-radius]="borderRadius">
            <img
                [src]="imgSrc"
                alt="Dropdown"
                class="img">
        </button>
        <div class="dropdown-list" [ngClass]="{'active': mostrarDropdown}">
            <div *ngFor="let item of itensFiltrados" class="dropdown-item" (click)="selecionarItem(item)">
                {{ item }}
            </div>
        </div>
    </div>
</div>