
.header {
    padding: 11px 50px 11px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-1);
}

.titulo {
    font-size: 2.5rem;
    font-family: var(--font-semiBold);
    color: var(--cor-2);
}

.menu-header {
    display: flex;
    gap: 28px;
    right: 0;
    margin-right: 10px;
}

.pagina {
    display: flex;
    padding: 0 51px 0 51px;
    flex-direction: column;
}

.contianer-pesquisa {
    margin-top: 16px;
    padding: 36px 17px 36px 17px;
    display: flex;
    background: var(--cor-1);
    gap: 26px;
}

.pesquisa-produto {
    width: 40%;
}

.pesquisa-numero-pedido,
.pesquisa-data-inclusao,
.pesquisa-valor,
.mais-produtos {
    width: 20%
}

.header-tabela,
.linha-tabela {
    display: grid;
    background: var(--cor-1);
    padding: 30px 23px 30px 23px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    "col-1 col-2 col-3 col-4 col-5";
}

.header-tabela {
    color: var(--cor-cinza);
    margin-top: 11px;
}

.menu-header-tabela,
.menu-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.checkbox {
    color: var(--cor-2);
    transform: scale(0.9);
}


.linha-tabela {
    margin-top: 5px;
}

.numero-pedido,
.data-inclusao,
.previsao-faturamento,
.valor-venda {
    display: flex;
    justify-content: center;
    align-items: center;
}

