

@font-face {
    font-family: 'Blinker-Black';
    src: url('assets/fonts/Blinker-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Bold';
    src: url('/assets/fonts/Blinker-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('assets/fonts/Blinker-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker';
    src: url('assets/fonts/Blinker-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Light';
    src: url('assets/fonts/Blinker-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Regular';
    src: url('assets/fonts/Blinker-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-SemiBold';
    src: url('assets/fonts/Blinker-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Blinker-Thin';
    src: url('assets/fonts/Blinker-Thin.ttf') format('truetype');

}





body{
    margin: 0;
    height: 100%;
    font-family: "Blinker-Regular";
    --cor-botao: #141414;
    --cor-botao-hover: #561111;
    --cor-texto-botao: #FFF;
    --botao-verde: #366731;
    --botao-verde-hover: #21512d;
    --botao-vermelho: #DB4242;
    --botao-vermelho-hover: #c73131;
    --cor-cinza: #878787;
    --font-semiBold: 'Blinker-Semibold'
}

button{
    background: none;
    cursor: pointer;
}
:root{
    --background: #F0F0F0;
    --cor-1: #F9F9F9;
    --cor-2: #141414;
}

:root .dark-theme{
    --background: #141414;
    --cor-1: #262626;
    --cor-2: #FFF;
}

html, body { height: 100%; font-size: 14px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
